In [210]:
import pandas as pd
import datetime
import os #to use os.listdir

### Merging 12 monts of sales into one data frame

In [211]:
# My solution
Sales_January_2019 = pd.read_csv("Sales_Data\Sales_January_2019.csv")
Sales_February_2019 = pd.read_csv("Sales_Data\Sales_February_2019.csv")
Sales_March_2019 = pd.read_csv("Sales_Data\Sales_March_2019.csv")
Sales_April_2019 = pd.read_csv("Sales_Data\Sales_April_2019.csv")
Sales_May_2019 = pd.read_csv("Sales_Data\Sales_May_2019.csv")
Sales_June_2019 = pd.read_csv("Sales_Data\Sales_June_2019.csv")
Sales_July_2019 = pd.read_csv("Sales_Data\Sales_July_2019.csv")
Sales_August_2019 = pd.read_csv("Sales_Data\Sales_August_2019.csv")
Sales_September_2019 = pd.read_csv("Sales_Data\Sales_September_2019.csv")
Sales_October_2019 = pd.read_csv("Sales_Data\Sales_October_2019.csv")
Sales_November_2019 = pd.read_csv("Sales_Data\Sales_November_2019.csv")
Sales_December_2019 = pd.read_csv("Sales_Data\Sales_December_2019.csv")

Sales_Year2019 = pd.concat([
    Sales_January_2019, 
    Sales_February_2019, 
    Sales_March_2019,
    Sales_April_2019,
    Sales_May_2019,
    Sales_June_2019,
    Sales_July_2019,
    Sales_August_2019,
    Sales_September_2019,
    Sales_October_2019,
    Sales_November_2019,
    Sales_December_2019
])

# ---------------------------------------------------
# THE solution: much more concise...
files = [file for file in os.listdir("./Sales_Data")]# good use of relative path..

all_months_data = pd.DataFrame() #Declaration of a Dataframe of variable size...

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    all_months_data = pd.concat([all_months_data, df])
    
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [212]:
print("My solution: # of lines "+str(Sales_Year2019.shape[0])+ "; # of columns "+str(Sales_Year2019.shape[0]))
print("THE solution: # of lines "+str(all_months_data.shape[0])+ "; # of columns "+str(all_months_data.shape[0]))

#THE solution is much more concise, but mine works too!

My solution: # of lines 186850; # of columns 186850
THE solution: # of lines 747400; # of columns 747400

In [213]:
all_months_data.to_csv("./Sales_Data/all_data.csv", index = False)
all_data = pd.read_csv("./Sales_Data/all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Question 1: What was the best month for sales? How much was earned that month?

In [233]:
# first step: move all the data in a df we'll use/modify for this first analysis
df = all_data

# step 2: clean df, cause it contains a loooot of things that needs to be cleansed...
# 2.1: remove the empty rows
df = df.dropna(how='all')
# 2.2: remove the rows containing ['Order ID', 'Product', 'Quantitiy Ordered', ....]
df = df.drop(df[df["Order ID"] == "Order ID"].index)
# 2.3: convert to float, the values we're going to work with
df["Quantity Ordered"] = df["Quantity Ordered"].astype('float')
df["Price Each"] = df["Price Each"].astype('float')
# 2.4: Get the revenue by multiplying Quantity Ordered & Price Each
df["Total Revenue"] = df["Quantity Ordered"].multiply(df["Price Each"], fill_value=0)
# 2.5: Convert the "order date" column to a dateformat. Then store the month
# https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
df['Order Date']=pd.to_datetime(df['Order Date'], format="%m/%d/%y %H:%M")
df['Order Date Month'] = df['Order Date'].dt.month
# Final Step: group by Month
best_month = pd.Series(df.groupby(["Order Date Month"])["Total Revenue"].sum())
best_month
 
# df.head()
# df.dtypes

# unformated_date = "04/19/19 08:46"    
# print( datetime.datetime.strptime(unformated_date, "%m/%d/%y %I:%M").strftime('%y-%m-%d') )

#-------------------------------------------------
# String values in the Quantity Ordered column that need to be removed
# df["Quantity Ordered"][df["Quantity Ordered"].values == "Quantity Ordered"]



# df["Quantity Ordered"].loc[0:] = df["Quantity Ordered"].loc[0:].astype('float')
#step 3: remove the header row to prepare the conversion
# df["Quantity Ordered"] = df["2"][df["2"].values != "Quantity Ordered"].astype('float',errors='ignore')
# df["Quantity Orderer"] = df["2"][df["2"].values != "Quantity Ordered"].astype('float',errors='ignore')


# df["Quantity Ordered"].multiply(df["Quantity Ordered"], fill_value=0)
# df["Quantity Ordered"].astype('int')
# df["Quantity Ordered"] = df["Quantity Ordered"].dropna()
# df["Quantity Ordered"][df["Quantity Ordered"].isnull() == True]

Order Date Month
1     7.289027e+06
2     8.808090e+06
3     1.122840e+07
4     1.356268e+07
5     1.261043e+07
6     1.031121e+07
7     1.059110e+07
8     8.977872e+06
9     8.390241e+06
10    1.494691e+07
11    1.279841e+07
12    1.845377e+07
Name: Total Revenue, dtype: float64